In [3]:
# 1) Importação do arquivo
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'

dados = pd.read_csv(url, sep=';')

# 2) Visualizar as primeiras 7 linhas
dados.head(7)

  Nome,Idade,Notas,Aprovado
0           Ary,20,7.5,True
1             Ana,18,,False
2        Cátia,27,2.5,False
3        Denis,18,5.0,False
4         Beto,21,10.0,True
5           Bruna,23,,False
6          Dara,21,7.0,True

In [5]:
# 3) Conferir a quantiade de linhas e colunas
dados.shape

(18, 1)

In [11]:
# 4) Explorar as colunas e analisar os tipos dos dados presentes em cada coluna
dados.columns

Index(['Nome,Idade,Notas,Aprovado'], dtype='object')

In [12]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 1 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Nome,Idade,Notas,Aprovado  18 non-null     object
dtypes: object(1)
memory usage: 272.0+ bytes